$fuente_principal:"Krub", sans-serif;

$oscuro: #000000;
$texto-primario: #171717;
$texto-secundario: #D99B66;
$texto-terceario: #F2F2F2;
$texto-cuarto: #3B2E24;
$texto-quinto: #868C6D;
$texto-sexto: #765232;

$primario: #868C6D;
$secundario: #f3efe3;
$tercero: #3B2E24;
$cuarto: #D99B66;
$quinto: #67a040;
$sexto: #ffd6af;
$septimo: #FFFFFF;
$octavo: #765232;
$noveno: #ebe1d6;
$decimo: #fcfaf3;
$undecimo:#FF2C00;

$telefono: 480px;
$tablet:769px;
$desktop:1200px;
$desktopXL: 1400px;
