$fuente_principal:"Krub", sans-serif;

$oscuro: #000000;
$texto-primario: #171717;
$texto-secundario: #D99B66;
$texto-terceario: #F2F2F2;
$texto-cuarto: #3B2E24;
$texto-quinto: #868C6D;

$primario: #868C6D;
$secundario: #F2F2F2;
$tercero: #3B2E24;

$telefono: 480px;
$tablet:769px;
$desktop:1200px;
$desktopXL: 1400px;
