<h1 class="contact-title">Contacto</h1>
<div class="contact">
  <h2 class="contact-form-title">¡Contáctanos <br>Envianos un Email!</h2>
  <form class="contact-form">
    <div class="input-row">
      <input
        type="text"
        placeholder="Nombres"
        class="input"
      />

      <input
        type="text"
        placeholder="Apellidos"
        class="input"
      />
    </div>
    <input
      type="email"
      placeholder="Correo"
      class="input"
    />
    <textarea name="" id="" cols="30" rows="10" class="input"></textarea>
    <button class="button button-send">Enviar</button>
  </form>
</div>
