@use '../base/variables' as v;
@use '../base/mixins' as m;


// =====================================================
// UTILIDADES
// =====================================================

.text-primary {
  color: v.$primario;
}

.text-secondary {
  color: v.$texto-secundario;
}

.text-accent {
  color: v.$tercero;
}

.text-light {
  color: v.$texto-quinto;
}

// =====================================================
// HERO
// =====================================================

.hero__content {

  .hero__eyebrow,
  .hero__title {
    margin-top: 5rem;
  }
}

.hero__image img{
  width: 100%;
  height-max: 85%;
  height: 60rem;
  object-fit: cover; /* Equivalente a background-size: cover para imágenes */
}

.hero__eyebrow {
  margin-bottom: 1rem;
  color: v.$primario;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 2.5rem;
  color: v.$texto-cuarto;
  font-weight: 500;
}

.hero__description {
  margin-bottom: 1rem;
  color: v.$primario;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
}


// =====================================================
// BOTONES
// =====================================================

.hero__actions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4.5rem;
}

.button--primary, .button--secondary, .order__button, .register__button {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.button--primary, .order__button, .register__button {
  background-color: v.$primario;
  color: v.$texto-terceario;

  &:hover {
    box-shadow: 0 0 0 2px v.$primario;
    background: transparent;
    color: v.$texto-quinto;
  }
}

.button--secondary {
  background: transparent;
  box-shadow: 0 0 0 2px v.$primario;
  color: v.$texto-quinto;

  &:hover {
    background-color: v.$primario;
    color: v.$texto-terceario;
  }
}


// =====================================================
// FEATURES DEL HERO
// =====================================================

.hero__features {
  display: grid;
  gap: 2rem;
  margin-top: 7rem;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.feature__content {

  p {
    margin: 0;
  }
}

// =====================================================
// SECCIONES
// =====================================================

.section {
  margin-top: 6.5rem;
}

.section__title {
  margin: 0 0 2rem;
  color: v.$texto-cuarto;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}


// =====================================================
// GRID DE TARJETAS
// =====================================================

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}


// =====================================================
// TARJETAS
// =====================================================

.info-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  margin-top: 2.5rem;

  text-align: left;

  &:not(:last-child) {
    border-right: none;
  }
}

.info-card__content {
  p {
    margin: 0;
    color: v.$texto-cuarto;
    text-align: center;
  }
}

// =====================================================
// ORDENAR
// =====================================================

.order__title, .register__title{
  text-align: center;
  color: v.$texto-quinto;
}

.order--section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order__content, .register__content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.order__button, .register__button{
  position: absolute;

  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover{
    background-color: v.$secundario;
  }
}

.register__button{
  top: 50%;
  transform: translate(-35%, -50%);
}

.order__features{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: .5rem;

  .feature{
    .feature__content{
      p{
        font-size: 1.1rem;
      }
    }
  }
}

// =====================================================
// REGISTRO
// =====================================================

.register__title{
  color: v.$texto-cuarto;
}

// =====================================================
// TABLET
// =====================================================

@include m.tablet {

  .button--primary, .button--secondary {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  .hero__actions {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cards-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .info-card {
    justify-content: center;
    &:nth-child(odd) {
      border-right: 1px solid #dcd6cd;
    }
  }

  .info-card__content{
    p{
      text-align: left;
    }
  }
}

.order__button, .register__button {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
}

// =====================================================
// TELÉFONO
// =====================================================

@include m.telefono {

  .hero__features {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


// =====================================================
// DESKTOP
// =====================================================

@include m.desktop {

  .hero__features {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cards-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
  }

  .info-card {
    display: flex;
    &:not(:last-child) {
      border-right: 1px solid #dcd6cd;
    }
  }

  .info-card__content{
    p{
      text-align: left;
    }
  }

  .order__button, .register__button {
    position: absolute;
    font-size: 3.4rem;
    font-weight: bold;
  }

  .order__features{
    .feature{
      .feature__content{
        p{
          font-size: 1.5rem;
        }
      }
    }
  }
}
