<div class="we">
  <h1 class="we-title">Sobre Nosotros</h1>

  <section class="we-section we-section--reverse">
    <h2 class="we-subtitle">Misión</h2>
    <div class="we-content">
      <div class="we-image"></div>
      <div class="we-message">
        <p>Hola como tu tas asjdklñfajsdñkl kjd fñaklsdjñkld flkad jjk dkjfkdjfkdljf  dkf d kdkdk k kd kñdjfakdj kj kdjfañdka kljds fñkj kñjadkjfñ dfkja </p>
      </div>
    </div>
  </section>

  <section class="we-section we-section--reverse">
    <h2 class="we-subtitle">Visión</h2>
    <div class="we-content">
      <div class="we-image"></div>
      <div class="we-message">
        <p>Hola como tu tas asjdklñfajsdñkl kjd fñaklsdjñkld flkad jjk dkjfkdjfkdljf  dkf d kdkdk k kd kñdjfakdj kj kdjfañdka kljds fñkj kñjadkjfñ dfkja </p>
      </div>
    </div>
  </section>

  <section class="we-section we-section--reverse">
    <h2 class="we-subtitle">Quienes Somos</h2>
    <div class="we-content">
      <div class="we-image"></div>
      <div class="we-message">
        <p>Hola como tu tas asjdklñfajsdñkl kjd fñaklsdjñkld flkad jjk dkjfkdjfkdljf  dkf d kdkdk k kd kñdjfakdj kj kdjfañdka kljds fñkj kñjadkjfñ dfkja </p>
      </div>
    </div>
  </section>
</div>
